{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(sortieForm) }}

    Ville de la sortie :
    <select id="town_select">
            <option value=""></option>
        {% for town in towns %}
            <option value="{{ town.id }}">{{ town.nom }}</option>
        {% endfor %}
    </select>

    {{ form_widget(sortieForm) }}

    {{ form_end(sortieForm) }}

    {# invisible, just to hold the path as variable #}
    <div id="places-dropdown" data-url="{{ path('sortie_get-places', {'id': 'PLACEHOLDER'}) }}"></div>

    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#{{ sortieForm.lieu.vars.id }}')
                .empty()
                .append($('<option></option>')
                .attr('value', null)
                .text('Selectionnez une ville'));

            $('#town_select').change(function() {
                var townId = $(this).val();
                var url = $('#places-dropdown').data('url').replace('PLACEHOLDER', townId);
                
                if (townId) {
                    $.ajax({
                        url: url,
                        success: function(data) {
                            var $placeSelect = $('#{{ sortieForm.lieu.vars.id }}');
                            $placeSelect.empty();
                            data.forEach(function(place) {
                                $placeSelect
                                    .append($('<option></option>')
                                    .attr('value', place.id)
                                    .text(place.nom));
                            });
                        }
                    });
                } else {
                    $('#{{ sortieForm.lieu.vars.id }}')
                        .empty()
                        .append($('<option></option>').attr('value', null)
                        .text('Selectionnez une ville'));
                }
            });
        });
    </script>
{% endblock %}
