{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <p>Nom de la sortie : {{ sortie.nom }}</p>

        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date }}</p>

        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date }}</p>

        <p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>

        <p>Durée : {{ sortie.duree }} minutes</p>

        <p>Description et infos : {{ sortie.infosSortie }}</p>
    </section>

    <section>
        <p>Campus : {{ sortie.campus }}</p>

        <p>Ville : {{ sortie.lieu.ville }}</p>

        <p>Lieu : {{ sortie.lieu }}</p>

        <p>Rue : {{ sortie.lieu.rue }}</p>

        <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>

        <p>Latitude : {{ sortie.lieu.latitude }}</p>

        <p>Longitude : {{ sortie.lieu.longitude }}</p>
    </section>

    <section>
        {% for participant in sortie.participants %}
            {{ participant.nom}} {{ participant.prenom}}
        {% endfor %}
    </section>

{% endblock %}