{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    <button>Enregistrer</button>

    <button>Publier la sortie</button>

    {#<a href={{ path('') }} class="btn btn-link">Supprimer la sortie</a>

    <a href={{ path('') }} class="btn btn-link">Annuler</a>#}

    {{ form_end(sortieForm) }}
{% endblock %}