<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            <style>
                @font-face {
                    font-family: DMsans;
                    src: url({{ asset('fonts/DMsans/static/DMSans-Medium.ttf') }});
                }
                :root {
                    --checkedCheckbox: url("{{ asset('img/input/checkedCheckbox.svg') }}");
                    --uncheckedCheckbox: url("{{ asset('img/input/uncheckedCheckbox.svg') }}");
                }
            </style>

            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/form.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <nav>
        {% block nav %}
            {% if app.user %}
                <a href="{{ path('list_main') }}">Accueil</a>
                <a href="{{ path('list_main') }}">Campus TODO</a>
                <a href="{{ path('list_main') }}">Campus TODO</a>
                <a href="{{ path('user_modifprofil') }}">Mon profil</a>
                <a href="{{ path('app_logout') }}">Se deconnecter({{ app.user.pseudo }})</a>
                
                {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                    <a href="{{ path('list_main') }}">Admin TODO</a>
                {% endif %}
            {% endif %}
        {% endblock %}
    </nav>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
