{% extends 'base.html.twig' %}

{% block body %}

<h2 class="h2-align-right">Date du jour : {{ today | date('d / m / Y') }}</h2>
<h2 class="h2-align-right">Participant : {{ user.prenom }} {{ user.nom | slice(0, 1) }}.</h2>

<h2 class="h2-align-left">Filtrer les sorties</h2>

<form method="POST" class="filter-form" action="{{ path('list_main') }}">
    {{ form_row(sortiesFilterForm._token) }}
    <div class="container-filters-left">
        <div class="input-group">
            <label for="{{ sortiesFilterForm.campus.vars.id }}">Campus :</label>
            {{ form_widget(sortiesFilterForm.campus, {'attr': {'class': 'Campus'}}) }}
        </div>

        <div class="input-group">
            <label for="{{ sortiesFilterForm.name_search.vars.id }}">Le nom de la sortie contient :</label>
            {{ form_widget(sortiesFilterForm.name_search) }}
        </div>

        <div class="input-group">
            <label for="{{ sortiesFilterForm.range_start.vars.id }}">Entre le :</label>
            {{ form_widget(sortiesFilterForm.range_start) }}

            <label for="{{ sortiesFilterForm.range_end.vars.id }}"> et le :</label>
            {{ form_widget(sortiesFilterForm.range_end) }}
        </div>
    </div>

    <div class="container-filters-right">
        <label class="label-checkbox">
            {{ form_widget(sortiesFilterForm.i_am_organisateur) }}
            Sorties dont je suis l'organisateur/trice
            <span class="checkbox-icon"></span>
        </label>
        
        <label class="label-checkbox">
            {{ form_widget(sortiesFilterForm.i_am_subscribed) }}
            Sorties auxquelles je suis inscrit/e
            <span class="checkbox-icon"></span>
        </label>
        
        <label class="label-checkbox">
            {{ form_widget(sortiesFilterForm.i_am_not_subscribed) }}
            Sorties auxquelles je ne suis pas inscrit/e
            <span class="checkbox-icon"></span>
        </label>
        
        <label class="label-checkbox">
            {{ form_widget(sortiesFilterForm.show_closed_sorties) }}
            Sorties passees
            <span class="checkbox-icon"></span>
        </label>
    </div>

    <button type="submit" class="button-green">Rechercher</button>
</form>

<table border=1>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Cloture</th>
        <th>Inscrits/places</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>

    {% for sortie in sorties %}
        <tr>
            <td><!-- TODO link --><a href="{{ path('sortie_infos', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
            <td>{{ sortie.dateHeureDebut | date }}</td>
            <td>{{ sortie.dateLimiteInscription | date }}</td>
            <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{{ sortie.isParticipant(user.id) ? 'X' : '' }}</td>
            <td><!-- TODO link --><a href=''>{{ sortie.organisateur.nom }}</a></td>
            <td class="td-align-left">
                <!-- TODO links -->
                <div class="table-links">
                    <a href=''>Afficher</a>&nbsp;

                    {% if sortie.isParticipant(user.id) %}
                        - <a href=''>Se desister</a>&nbsp;
                    {% endif %}

                    {% if sortie.isOrganisateur(user.id) %}
                        - <a href=''>Modifier</a>&nbsp;
                        - <a href=''>Publier</a>&nbsp;
                        - <a href=''>Annuler</a>
                    {% endif %}

                    (TODO links) 
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="{{ path('sortie_creation') }}"><button class="button-blue">Creer une sortie</button></a>
{% endblock %}
