{% extends 'base.html.twig' %}

{% block body %}
List sortie<br /><br />

<table border=1>
    <tr>
        <th>Nom de la sortie</th>
        <th>Date de la sortie</th>
        <th>Cloture</th>
        <th>Inscrits/places</th>
        <th>Etat</th>
        <th>Inscrit</th>
        <th>Organisateur</th>
        <th>Actions</th>
    </tr>

    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date }}</td>
            <td>{{ sortie.dateLimiteInscription | date }}</td>
            <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>
                {% if sortie.isParticipant(user.id) %}
                    X
                {% endif %}
            </td>
            <td>{{ sortie.organisateur.nom }}</td>
            <td><!-- TODO list action possible depending on auth -->TODO</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
