{% extends 'base.html.twig'%}

{%block body%}



    <div>
        {{ form_start(userForm) }}

        {{ form_widget(userForm) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit">Register!</button>


        {{ form_end(userForm) }}

    </div>
{% endblock %}

{%  block title %}
Modifie User
{%  endblock %}